.aulas--section {
    padding: 5.7rem 0 9.6rem 0; 
}

.aula--header {
   display: flex;
   align-items: center;
   gap: 1.2rem;
}

.voltar-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
  
    padding: 1.2rem 1.2rem 1.2rem 0;
    border-radius: 50%;
    color: #000;
    
    transition: 0.15s all;
}

.voltar-icon:hover, .voltar-icon:active {
    color: #35bef0;
}


#curso--progress {
    flex-grow: 1;
 
    /*
    Para navegadores WebKit (Chrome and Safari)
    */
    -webkit-appearance: none;
    appearance: none;
    border-radius: 21px;
    height: 2px;
   
}

::-webkit-progress-bar {
    background-color: #f3f3f3;
  }

#curso--progress::-webkit-progress-value {
    background: linear-gradient(to right, #1D257D, #35def0);
    border-radius: 21px;
}

#curso--progress::-moz-progress-bar {
    background: linear-gradient(to right, #1D257D, #35def0);
  
}



.heading-span {
    font-size: 1.2rem;
}

.aulas-container {
    display: grid;
}

.closed-sidebar {
    grid-template-columns: 1fr 0.1rem;
}

.aula--wrapper-upper {
    /* Safari */
    position: -webkit-sticky; 

    position: sticky; 
    top: 0; 
    z-index: 1000; 
    background: #fff;
    border-bottom: 1px solid #ddd;

}

 .video-frame-wrapper {
    position: relative;


    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    background: #000;
    }

    .video-frame {
        position: absolute;
        max-width: 100%;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }

.aula-text-box {
    padding: 0.8rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}


.aula-selecionada-titulo {
    font-size: 1.6rem;
}

.aula-selecionada-descrição {
    font-size: 1.4rem;
}


.aula-related-content {
    padding: 3.2rem 0;
}


/* SIDEBAR MENU */


.aulas-sidebar {

}


/* SUBNAVEGAÇÃO & NAVEGAÇÃO MOBILE */

.aulas-sidebar-nav {
    z-index: 1000;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    /* border-radius: 21px; */
    padding: 0.6rem 0;
}


.aulas-sidebar--list {
    padding-top: 0.8rem;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 1.6rem;
}


.sidebar-btn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;

    font-family: 'Poppins';
    background-color: transparent;
    border: none;
    letter-spacing: 0.2px;
}

.sidebar-btn[aria-label="Lista de reprodução"] {
    display: none;
}

.sidebar-btn span {

}

.sidebar-icon {
    color: #495057;
    width: 30px;
    height: 30px;
}



.sidebar-btn--active .sidebar-icon {  
    color: #35bef0;
    stroke: #35bef0;
}




/* tab de comentários */

.aulas-playlist {
    padding: 0 1.8rem;
    margin-top: 1.8rem;

    z-index: 999;
    position: fixed;
    bottom: 90px;
    left: 0;
    right: 0;
    filter: blur(1);

  

}

.open--playlist.aulas-playlist {

}


.aulas-list {
    display: none;
}


/* AULA ATIVA */

.open--playlist .current-active-aula {
    margin-bottom: 0.8rem;
}
/*============*/


.close--playlist-icon {
    display: none;
}

.open--playlist .close--playlist-icon {
    display: block;
}

.open--playlist .open--playlist-icon {
    display: none;
}

.open--playlist .aulas-list {
    
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    list-style: none;
}

.current-aula {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.current-aula span {
    font-size: 1.4rem;
}


.current-aula-card-titulo {
    font-size: 1.4rem;
    color: #35bef0;
} 


/* PLAYLIST e mecanismo do accordion */
.open--playlist .current-aula-card-titulo {
    display: none;
}

.current-aula-card-link,
.playlist-card-link,
.questao-card-link {
    cursor: pointer;

    text-decoration: none;
    color: inherit;
    width: 100%;
    
    display: flex;
    
    
}

.current-aula-card-link,
.playlist-card-link {
    padding: 0.8rem 1.2rem;
    background-color: #f1f5f9;
    border: 1px solid #dbdbdb;
    
}

.questao-card-link {
    padding: 0 1.2rem 2.4rem 1.8rem;
    transition: 0.3s all;
    border-bottom: 1.55px solid #dbdbdb;
    
}

.questao-card-link:hover {
    color: #35bef0;
    
}


.current-aula-card-link {
    background: #FFF;
    border-radius: 11px;
}

.playlist-card-link--active {
    color: #35bef0;
}

.current-aula-card-conteudo
{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.current-aula-card-conteudo {
    justify-content: space-between;
}

.playlist-card {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

}

.playlist-card-upper {
    /* do elemento pai */
    align-self: flex-end;

    display: flex;

}

.playlist-card-lower {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.playlist-card-titulo {
    font-size: 1.2rem;
}

.watched-icon {
    color: #333;
    opacity: 0.5;
   width: 18px;
   height: 18px;
}


.icon { 
    display: inline-block;
    margin-top: 0.6rem;
    width: 24px;
    height: 24px;
}

.play-icon {
    display: block;
}

.playlist-card-link--active .play-icon,
.pause-icon {
    display: none;
}

.playlist-card-link--active .pause-icon {
    display: block;
}



/* comments tab */

.comments-tab {
    padding: 1.8rem 1.8rem 3.2rem 0;
    position: relative;

    height: 43rem;
   
}



.create-comment-form {
    position: absolute;
    width: 100%;

    bottom: 0;

    display: flex;
    align-items: center;
    gap: 1.8rem;
}

.input--create-comment {
    flex-grow: 1;
    padding: 1.2rem 0.8rem;
    border-radius: 11px;
    border: 1.75px solid #969696;
}

.input--create-comment:focus {
    border: 1.75px solid #969696;
    outline: 1.75px solid #969696;

}

.btn--send-comment {
    position: absolute;
    top: 50%;
    right: 8%;

    transform: translate(50%, -50%);

    pointer-events: none;
    opacity: 0.5;
    background: none;
    border: none;
    outline: none;
}

.btn--send-doubt:hover .send-icon {
    color: #35bef0;
}



.send-icon {

    width: 24px;
    height: 24px;
}

.comments-box,
.comment-answer-box {
    display: grid;
    padding-right: 1.8rem;
    max-height: 100%;
}

.comments-box {
    row-gap: 1.8rem;
    
    max-height: 100%;
    overflow-y: scroll;

} 

.comment-answer-box {
    row-gap: 1.6rem;
}




.comment-header, 
.comment-answer-header {
    display: flex;
    
    align-items: center;
    gap: 1.2rem;
 }

.comment-header img {
    width: 36px;
    height: auto;
    border-radius: 50%;
}

.comment-answer-header img {
    
    width: 30px;
    height: auto;
    border-radius: 50%;
}


.author-name {
    display: inline-block;
    font-size: 1.2rem;
    flex-grow: 1;
    
}

.instructor-label {
    display: inline-block;
    margin-left: auto;

    font-weight: 500;
    color: #1D257D;
    background-color: #4d55ac6c;
    padding: 0.2rem 0.6rem;
    border-radius: 21px;
}

.comment-content {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-bottom: 0.8rem;
    border-bottom: 1.75px solid #dbdbdb;

}

.comment-text {

}

.comment-date {
    color: #969696;
}

.comment-answers--list {
    list-style: none;
    padding-left: 1.8rem ;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.comment-answer-header img{
    width: 28px;
    height: auto;
    border-radius: 50%;
}

.comment-answer-box {

}


.answer-author-name {
    font-size: 1.1rem;
}

.comment-answer-content {
    display: flex;
    flex-direction: column;
    
}

.comment-answer-text  {

}





/*====================*/
/* - HELPER CLASSES - */
/*====================*/

/* Loading Spinner */

.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #ccc;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: scale(0.5) translate(0, 0);
  background-color: #ccc;
  border-radius: 50%;
  animation: animloader 1s infinite ease-in-out;
}
.loader::before {
  background-color: #000;
  transform: scale(0.5) translate(-48px, -48px);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes animloader {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}
