# Python Bytecode
__pycache__/
*.py[cod]

# Django-specific
*.log
*.pot
*.pyc
*.pyo
*.pyd

media/
staticfiles/
usuarios/static/css/reliquia/

# VS Code
.vscode/

# Coverage reports
.coverage
.coverage.*
*.cover
*.py,cover
nosetests.xml
coverage.xml
*.log


ts
.env

