{% extends 'base.html' %}


{% block title %}Academy One &dash; Cursos{% endblock %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/cursos.css' %}">
{% endblock %}

{% block content %}
    <h1>Cursos</h1>


    <ul id="estacoes-lista" style="display: none;">
        {% for estacao in estacoes %}
            <li>{{ estacao.nome }}</li>
        {% endfor %}
    </ul>

    {% for estacao in estacoes %}
        <div class="mesas mesa-amarelo" id="{{ estacao.nome }}-box">
            <div class="lista">
                <p>{{ estacao.nome }}</p>
                <div class="esconde-{{ estacao.id }}">
                    <div class="links">
                        {% for curso in estacao.cursos.all %}
                            <a href="{% url 'aulas' curso.id %}">{{ curso.nome }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <i class="fa-solid fa-arrow-down " id="{{ estacao.nome }}"></i>
        </div>
    {% endfor %}


    <!--div class="mesas mesa-amarelo" id="ESG-box">
        <div class="lista">
        <p>ESG</p>
        <div class="esconde-2">
        <div class="links">
            <a href="#">teste</a>
            <a href="#">teste</a>
            <a href="#">teste</a>
        </div>
    </div>
</div>
        <i class="fa-solid fa-arrow-down" id="ESG"></i>
    </div>

    <div class="mesas mesa-amarelo" id="BPO-box">
        <div class="lista">
        <p>BPO</p>
        <div class="esconde-3">
        <div class="links">
            <a href="#">teste</a>
            <a href="#">teste</a>
            <a href="#">teste</a>
        </div>
    </div>
</div>
        <i class="fa-solid fa-arrow-down" id="BPO"></i>
    </div>

    <div class="mesas mesa-amarelo" id="PCA-box">
        <div class="lista">
        <p>PCA</p>
        <div class="esconde-4">
        <div class="links">
            <a href="#">teste</a>
            <a href="#">teste</a>
            <a href="#">teste</a>
        </div>
    </div>
</div>
        <i class="fa-solid fa-arrow-down" id="PCA"></i>
    </div>
    <!-- amarelo >
    <div class="mesas mesa-verde"><p>QA</p><i class="fa-solid fa-arrow-down"></i>
    </div>
    <div class="mesas mesa-verde"><p>GET</p><i class="fa-solid fa-arrow-down"></i>
    </div>
<!-- Verde ->
<div class="mesas mesa-verde" id="QA-box">
    <div class="lista">
        <p>QA</p>
        <div class="esconde-5">
            <div class="links">
                <a href="#">teste</a>
                <a href="#">teste</a>
                <a href="#">teste</a>
            </div>
        </div>
    </div>
    <i class="fa-solid fa-arrow-down" id="QA"></i>
</div>

<div class="mesas mesa-verde" id="GET-box">
    <div class="lista">
        <p>GET</p>
        <div class="esconde-6">
            <div class="links">
                <a href="#">teste</a>
                <a href="#">teste</a>
                <a href="#">teste</a>
            </div>
        </div>
    </div>
    <i class="fa-solid fa-arrow-down" id="GET"></i>
</div>

<!-- Azul ->
<div class="mesas mesa-azul" id="MKT-box">
    <div class="lista">
        <p>MKT</p>
        <div class="esconde-7">
            <div class="links">
                <a href="#">teste</a>
                <a href="#">teste</a>
                <a href="#">teste</a>
            </div>
        </div>
    </div>
    <i class="fa-solid fa-arrow-down" id="MKT"></i>
</div>

<div class="mesas mesa-azul" id="WEB-box">
    <div class="lista">
        <p>WEB</p>
        <div class="esconde-8">
            <div class="links">
                <a href="#">teste</a>
                <a href="#">teste</a>
                <a href="#">teste</a>
            </div>
        </div>
    </div>
    <i class="fa-solid fa-arrow-down" id="WEB"></i>
</div>

<div class="mesas mesa-azul" id="SDR-box">
    <div class="lista">
        <p>SDR</p>
        <div class="esconde-9">
            <div class="links">
                <a href="#">teste</a>
                <a href="#">teste</a>
                <a href="#">teste</a>
            </div>
        </div>
    </div>
    <i class="fa-solid fa-arrow-down" id="SDR"></i>
</div>

<!-- Roxo ->
<div class="mesas mesa-roxo" id="DEV-box">
    <div class="lista">
        <p>DEV</p>
        <div class="esconde-10">
            <div class="links">
                <a href="#">teste</a>
                <a href="#">teste</a>
                <a href="#">teste</a>
            </div>
        </div>
    </div>
    <i class="fa-solid fa-arrow-down" id="DEV"></i>
</div-->



{% endblock %}