

.logo--alt-2 {
    filter:brightness(10%);
}

.text-login {
    font-size: 3.2rem;
    font-weight: 600;
    text-align: center;
}

.container.instrutor-estudante {
    padding: 0.8rem 1.8rem 0.8rem 1.8rem;
}


.radio-fields-box {
    display: flex;
    gap: 2.4rem;
}

.radio-field {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1.2rem;
}

.radio-field label {
    font-size: 1.6rem;
}

.radio-field input[type="radio"] {
    width: 14px;
    height: 14px;
    border: 1.55px solid #dbdbdb;
}

.radio-field input[type="radio"]:checked {
    color:#1D267D;
}



/* Código de confirmação de instrutor */

.code-input-field {
    display: none;
}

.code-input {
    font-size: 1.6rem;
    width: 44px;
    height:44px;
    padding: 0.8rem;
    border: 1.55px solid #ced4da;
    border-radius: 11px;
    text-align: center;
}

.code-input:focus {
    outline: 2px solid #404995;
}


.btn-radio-1 .btn-radio-2{
    width: 1.5rem;
    height: 1.5rem;
}






