/* 

--- 01 TYPOGRAPHY SYSTEM

 font sizes (px)
 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
 

-- Tamanhos de fonte

- Títulos
principal: 62px
secundário: 44px
subtítulo: 3px

- Font weights:
Default: 400
Meidum: 500
Semi-bold:600
Bold:700

- Line heights:
Default: 1

Paragraph default: 1.6

- Letter Spacing



 --- 02 COLORS

- Principal: #1D267D;

- Secundária: #4276BD;
- Secundária 2: #35BEF0;
- Secundária 3: #4AD4CD;

- Tons claros (em relação à cor principal): 

- Tons claros em relação à cor secundária:
#EBF9FE

- Tons escuros (em relação à cor principal) :

#131a53;


- brancos:

#f1f3f5;
#F6F6F6;

- cinzas:

#dbdbdb

#7b7b7b
#949494 (cinza mais claro permitdo em #f6f6f6)
#555
#333

--Gradients 
 #d0d2e7b6 27%, #d0d2e77c 54%, #ffffff52 89%

--- 05 SHADOWS

  box-shadow: 0 2.4px 4.8px rgba(0, 0, 0, 0.075);
  box-shadow: 0 -1.2px 2.4px 4.8px rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 3px
Medium: 7px


--- 07 WHITESPACE

--- espaçamento (px)
 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

-- Paddings

- Entre seções: 96px top & bottom

-- Bordas

-border: 2px solid #1d267d;
-border-right: 1.55px solid #4276BD;

*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gruppo&family=Righteous&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root {
  --brand-color: #1D267D;
  --brand-color-2: #35BEF0;
  --gradient-bg: #35bef0;
  --border-radius: 4px;
  --shadow-light: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  --shadow-deep: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
  --transition: all .5s cubic-bezier(.22, 1, .32, 1);
}


body {
  font-family: "Poppins", sans-serif;
  color: #333;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.heading {
  display: inline-block;

  /* font-family: 'Righteous', sans-serif; */
  font-size: 52px;
}

.heading span {
  padding: 0 12px;
  /* color: #1d267d; */
}

.heading-secondary {
  font-size: 44px;
}

.heading-tertiary {
  font-size: 36px;
  color: #1d267d;
}

.heading-alternative {
  font-size: 24px;
}

.paragraph {
  font-size: 20px;
}

.subheading {
  font-family: "Righteous", sans-serif;
  font-size: 18px;
  color: #35bef0;
}

.heading-container {
  /* font-family: 'Righteous', sans-serif !important; */
  padding: 72px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.heading-container.left {
  /* font-family: 'Righteous', sans-serif !important; */
  padding: 64px 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  align-items: flex-start;
  gap: 24px;
}

.heading--alt {
  align-items: center;
}




.grid--5-cols--auto {
  display: grid;
  grid-template-columns: repeat(5, auto);
}

.btn--icon {
  width: 32px;
  height: 32px;
}

.menu-btn {
  display: none;
}

/* 
.tech {
  border: none;
  border-radius: 7px;
  padding: 12px 24px;
  text-transform: uppercase;
  background: var(--button-bg);
  transition: var(--transition);
  overflow: hidden;
  position: relative;
  outline: none;
  appearance: none;
&:before {
    --size: 400px;
    --opacity: 0;
    --scale: 0;    
    content: '';
		position: absolute;
		left: calc(var(--x) - var(--size) / 2);
		top: calc(var(--y) - var(--size) / 2);
		width: var(--size);
		height: var(--size);
		background: radial-gradient(circle closest-side, var(--gradient-bg), transparent);
		transform: scale(var(--scale));
		opacity: var(--opacity);
		transition: var(--transition);
  }
  
  
  &:hover {
    &:before {
      --opacity: 1;
      --scale: 1;
    }
  }
 

  .tech-title {
    position: relative;
    color: #fff;
    pointer-events: none;
    font-family: inherit;
  }
}
*/

.btn,
.btn--alt,
.btn--tertiary {
  cursor: pointer;

  border: 2px solid transparent; 
  box-shadow: 0 3px 4.8px rgba(0, 0, 0, 0.075);
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  border-radius: 7px;
  padding: 12px 18px;

  transition: 0.3s all;
}





.btn {
  background-color: #f6f6f6;
  color: #1d267d;
}

.btn--alt {
  background-color: #1d267d;
  color: #f6f6f6;
  box-shadow: 0 2.4px 4.8px rgba(0, 0, 0, 0.075);
}

.btn--tertiary {
  background-color: #35bef0;
  color: #f1f3f5;
}

/* hover and active states of btns */
.btn:hover,
.btn:active {
  border: 2px solid #dbdbdb;
  color: #dbdbdb;
  background-color: transparent;
}

.btn--alt:hover,
.btn--alt:active {
  background-color: #182168;
}

.btn--tertiary:hover,
.btn--tertiary:active {
  background-color: #4276bd;
}

/*================*/
/* - NAVIGATION - */
/*================*/

.header {
  padding: 32px 12px 24px 12px;
  background-image: url(''), linear-gradient(270deg ,#525679,#3e447d,#1d267d, #131a53,#050e56 );
  border-bottom: 1.55px solid rgb(72, 76, 116);
  color: #fff;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  gap: 32px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  /* PARENT ELEMENT */
  justify-self: flex-start;
}

.navigation--left,
.navigation--right {
  display: flex;
  gap: 24px;
}

.logo-container {
  display: inline-block;

  text-align: left;

  /* GRID */
  justify-self: start;
}

.logo {
  filter: brightness(0) invert(1) grayscale(100%) brightness(1000%);
  width: 275px;
  height: auto;
}

.nav--list {
  list-style: none;

  font-size: 16px;

  display: flex;
  gap: 32px;

  /* GRID */
  justify-self: start;
}

.nav-btns {
  display: flex;
  gap: 24px;
  /*GRID */
  justify-self: end;
}

.nav-profile-img {
  cursor: pointer;

  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.nav-link {
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 4px;

  transition: 0.3s all;
}


.nav-sub-menu {
  display: none;

  /* GRID */
  align-self: center;
}

/* dropdown mecanism */

.menu {
  position: relative;
}

.dropdown {
  position: absolute;
  visibility: hidden;

  display: flex;
  flex-direction: column;
  min-width: 230px;
  background-color: #fff;
  border-radius: 7px;

  top: 36px;
  z-index: 1;
  opacity: 0;
  transform: scale(0.97) translateX(-5px);
  transition: 0.1s ease-in-out;
  box-shadow: 0 2.4px 4.8px rgba(0, 0, 0, 0.075);
  padding: 8px 12px;
}

.dropdown.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1) translateX(5px);
}

.dropdown-link-img {
  /* border-radius: 50%; */
  fill: #35bef0;
  width: 32px;
  height: 32px;
}

.dropdown--list {
  list-style: none;
}

.dropdown-link {
  list-style: none;
  text-decoration: none;

  color: #333;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
  border-radius: 7px;
  transition: 0.1s ease-in-out;
}

.dropdown-link p {
  font-size: 12px;
}

/* o verdadeiro link */
.dropdown-link-title {
  color: #444;
  font-size: 14px;
  font-weight: 600;
}

.menu.show,
.dropdown.active {
  display: block;
}

.btn--icon.messages {
  border-left: 1.55px solid #444;
  padding-left: 12px;
}

.search-box {
  border: 2.25px solid #f6f6f6;
  padding: 6px 8px;
  border-radius: 7px;

  display: flex;
  gap: 24px;

  /* GRID */
  justify-self: end;
}

.search-icon {
  padding-top: 4.8px;
  width: 28px;
  height: 28px;
}

/* .search-box div {
  border: 2px solid transparent;
  border-radius: 7px;

  background-color: #f6f6f6;
  padding: 2px 12px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  transition: 0.3s all;
} */

.search-input {
  border: none;
  outline: none;

  padding: 10px 14px;
  border-radius: 7px;

  background-color: inherit;
  color: #333;
  font-size: 16px;
  font-weight: 600;
}

.search-box div:hover,
.search-box div:active,
.search-input:focus {
  color: #f1f3f5;
}

.search-box div {
  border: 2px solid #f6f6f6;
}

/*=============*/
/* - FOOTER - */
/*=============*/

.footer {
  background-color: #f6f6f6;
  border-top: 1px solid #dbdbdb;
  padding-top: 128px;

  text-align: center;
}

.footer-navigation {
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));

  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 32px;
  /* GRID */
  justify-items: center;
  gap: 86px;
  
  row-gap: 16px;
}

.footer-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;

  /* padding-left: 55px; */
}

.footer-links span {
  color: #4a4a4a;

  font-size: 20px;

  font-weight: 600;
}

.footer-links ul {
  width: 100%;
  list-style: none;

  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

.footer-links ul a,
.footer-icons {
  cursor: pointer;

  text-decoration: none;
  color: #949494;
  padding-bottom: 8px;

  transition: 0.3s all;
}

.footer-links ul a:hover,
.footer-links ul a:active {
  color: #7b7b7b;
}

.footer-social-links {
  padding: 24px 0 12px 0;
  align-items: center;

  gap: 12px;
}

.company {
  display: flex;
  gap: 32px;

  justify-self: start;
}

.logo-container img {
  width: 200px;
}

.company--copyrights {
  font-size: 14px;
  text-align: left;
}

.social {
  padding: 24px 0;

  display: flex;
  gap: 24px;

  /* GRID */
  justify-self: end;
}

.footer-icons {
  width: 24px;
  height: 24px;
}
