/* estas são queries globais que alteram os 
estilos definidos em geal.css 
 para diferentes breakpoints e viewports */


/*=====================================*/
/* (375px) DISPOSITIVOS MÓVEIS PADRÃO  */
/*=====================================*/

@media (min-width: 23em) {
   
}


/*=========================================================*/
/* (480px) DISPOSITIVOS MÓVEIS MAIORES / TABLESTS PEQUENOS */
/*=========================================================*/

@media (min-width: 30em) {

   
   
}


/*==========================*/
/* (600px) TABLETS PEQUENOS */
/*==========================*/


@media (min-width: 37.5em) {

   

}



/*========================================*/
/* (768px) TABLETS E DISPOSITIVOS MAIORES */
/*========================================*/

@media (min-width: 48em) {
   



}


/*=======================================*/
/* (1024px) TABLETS E NOTEBOOKS PEQUENOS */
/*=======================================*/

@media (min-width: 64em) {

/* escondendo a imagem de perfil da navegação mobile */

.home-hero .dropdown {
    background-color: none;
    background-image: url(''), linear-gradient(270deg ,#525679,#3e447d,#1d267d, #131a53,#050e56 );
    color: #f1f3f5;
}

  .dropdown {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.2rem 2.4rem;
    opacity: 100;

    display: flex;
    align-items: center;
    gap: 2.4rem;

    transition: 0.5s all;
}

.mobile-nav .menu-btn--open,
 .mobile-nav .menu-btn--close {
    display: none;
    visibility: hidden;
}



.dropdown .logo-container {
    display: block;
}

.dropdown .nav-items--list {
    position: relative;
    margin: 0;
    font-size: 1.4rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3.2rem;
}


.dropdown .nav-submenu-list--active {
    position: absolute;
    background-color: inherit;
    left: 0;
    padding: 1.2rem 3.2rem 1.2rem 1.2rem;
    margin-top: 12px;
    margin-left: 0;
    font-size: 1.6rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.8em;

    border-radius: 11px;

    box-shadow: 1px 1.5px 20px 1px rgba(0, 0, 0, 0.137);
    background-color: #fff;
    color: #222;
}


.dropdown.instrutor .nav-submenu-list--active {
    background-color: #1D267D;
}


.nav-link-box {
    /* padding: 0.8rem 1.2rem; */
    border-radius: 7px;
    font-weight: 500;
    gap: 0.8rem;
}


.nav-link-box--active {
    background-color: #fff;
}

.nav-link-box:hover,
.instrutor .nav-link-box--active {
    background-color: none;
    color: #e4e5e6;
}

.instrutor .nav-link-box:hover, 
.instrutor .nav-link-box--active {
    background-color: #1d267d;
    color:#f1f3f5;
}


.nav-icon {
    display: none;
}

.dropdown .btns-box {
    margin-left: auto;
    flex-direction: row;
    align-items: stretch;

    padding: 0;
}


.dropdown .nav-perfil-img {
    color: #222;
    display: block;
    margin-left: auto;
    visibility: visible;
    pointer-events: all;
    opacity: 1;
   
}

.dropdown .nav-perfil-img .nav-items--list {
    flex-direction: column;
    gap: 2.4rem;
}

.nav-perfil-img:hover #user-dropdown {
  
    right: 28px;
    

}

.dropdown .footer--alt {
    display: none;
}


#user-dropdown {
    left: auto;
    right: 50px;
}

}