

/* ========== */
/* Formulario */
/* ========== */

.register-login-container {
    padding: 0 0 2.4rem 0;
}

.logo--alt-2 {
    filter:brightness(10%);
}


.container-inputs {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    max-width: 32rem;
}



.mensagem--erro {
    width: auto;
    margin-left: 1.2rem;
    font-size: 1.4rem;
    color: red;
}


.btn-radio-1 .btn-radio-2 {
    width: 15px;
    height: 15px;
}





