<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estações</title>
</head>
<body>
    <h1>Todas as Estações</h1>
    <ul>
        {% for estacao in estacoes %}
            <li><a href="{% url 'cursos' estacao.id %}">
                <h2>{{ estacao.nome }}</h2>
                <p>{{ estacao.descricao }}</p>
            </li></a>
        {% endfor %}
    </ul>
</body>
</html>