{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Scripts -->
    <!-- Loaded after HTML has been completely parsed -->
    <script defer src="{% static 'js/cadastro.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/geral.css'%}">
    <link rel="stylesheet" href="{% static 'css/cadastro.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <title>Academy - Cadastro</title>
   
</head>
    <body>
        <section class="login-register--section">
            <form name="formulario" class="form-cadastro" id="form" action="{% url 'cadastro' %}" method="POST">
                <a href="/"
                >
                    <img class="logo--alt-2" src="{% static 'image/LOGO-ACADEMY.png' %}" alt="" width="200px" height="150px">
                </a>
                <h1 class="heading-primaria" for="fname">Ingresse hoje</h1>
                <div class="btn-wrapper">
                    <span>Já possui cadastro?</span>
                    <a class="btn--go-to-login-register" href="{% url 'login' %}">
                        
                        Login
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="small-icon">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
                        </svg>
                    </a>
                </div>
                <div class="container-inputs">
                    {% csrf_token %}
                    {% if request.session.error_msg %}
                        <p style="
                        padding: 1.2rem 2.4rem;
                        border-radius: 11px;
                        text-align: center;
                        background-color: #fca5a5; color: #dc2626; font-size: 1.4rem;">{{ request.session.error_msg }}</p>
                    
                    {% endif %}  
                    <div class="field">
                        <label for="nome">Nome completo: </label>
                        <input class="inputs nome" type="text"  name="nome" id="nome" maxlength="26">
                        <span class="mensagem--erro" data-label="nome"></span>
                    </div>
                    
                    <div class="field">
                        <label for="email">Email: </label>
                        <input class="inputs email" type="email"  name="email" id="email">
                        <span class="mensagem--erro" data-label="email"></span>
                    </div>
                    <div class="field">
                        <label for="senha">Senha:</label>
                        <input class="inputs password senha" type="password" name="senha" id="senha">   
                        <span class="mensagem--erro" data-label="senha"></span>
                    </div>     
                    
                    <div class="field">
                        <label for="confirmar-senha">Confirmar senha: </label>
                        <input class="inputs confirmar-senha" type="password" name="confirmar-senha" id="confirmar-senha">
                        <span class="mensagem--erro" data-label="confirmar-senha"></span>
                    </div>
                    <div class="container instrutor-estudante">
                       <div class="radio-fields-box">
                            <div class="radio-field">
                                <label for="fname">Estudante</label>
                                <input required id="estudante" type="radio" name="perfil" value='estudante' class="estudante btn-radio-1">
                                <span class="mensagem--erro" data-label="radio-opcoes"></span>
                            </div>
                            <div class="radio-field">
                                <label for="fname">Instrutor</label>
                                <input required id="instrutor" type="radio" name="perfil" value='instrutor' class="instrutor btn-radio-2">
                                <span class="mensagem--erro" data-label="radio-opcoes"></span>
                            </div>
                        </div>
                        <div class="code-input-field">
                            <input class="code-input" name="code-input" pattern="[0-9]" maxlength="1" type="tel">
                            <input class="code-input" name="code-input" pattern="[0-9]" maxlength="1" type="tel">
                            <input class="code-input" name="code-input" pattern="[0-9]" maxlength="1" type="tel">
                            <input class="code-input" name="code-input" pattern="[0-9]" maxlength="1" type="tel">
                            <span class="mensagem--erro" data-label="radio-opcoes"></span>
                        </div>
                        </div>
                        <button id="botao-cadastro" class="btn btn--main btn--register-login" type="submit" value="Criar conta" >
                            Criar conta
                            <div class="spinner"></div>
                        </button>
                  </div>
                 
            </form>
           
            <footer class="footer">
                <img src="{% static 'img/logo--alt.png' %}" alt="" width="200px" height="30px">
            </footer>
        </section>
</body>
</html>