
.container-criar-conta a {
    font-size: 16px;
    text-decoration: none;
    color: #1D267D;
   
}

.container-criar-conta a:hover {
    text-decoration: underline;
    color: #1D267D;
}

.botao {
    margin-top: 32px;
    width: 120px;
    height: 35px;
    text-align: center;
    border: none;
    background-color: #35BEF0;
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
}
